* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--link-color)
}

a:hover {
    text-decoration: underline;
}

/* Layout */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header"
        "aside main";
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Segoe UI Emoji,Apple Color Emoji,Noto Color Emoji,sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.4;
}

header {
    grid-area: header;
    height: 4rem;
    border-bottom: solid 1px var(--body-bg-border);
}

aside {
    grid-area: aside;
    width: 6rem;
    height: 100%;
    padding: 0.5rem 0.5rem;
    border-right: solid 1px var(--body-bg-border);
}

main {
    grid-area: main;
    width: 100%;
    height: 100%;
    max-width: 1140px;
    justify-self: center;
    margin: 20px auto;
    padding: 0 2rem;
    grid-area: 2 / 2 / 6 / 6;
}
/* Layout end */

header, aside {
    background-color: var(--body-bg-dark);
}

body {
    background-color: var(--body-bg-light);
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--font-color);
}

#logo  {
    fill: var(--font-color);
    stroke: none;
    width: 75px;
    height: auto;
}

header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.5rem  0 0.5rem;
}

/* Charts */
.chart-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: var(--body-bg-dark);
    border: 1px solid var(--body-bg-border);
    padding: 0 1rem 0 1rem;
    height: 6rem;
}
.chart-title {
    width: 10rem;
}
#chart {
    flex-grow: 1;
    margin: 0;
}

figure {
    width: 80%;
    margin: 0;
}

.chart-wrapper {
    margin-bottom: 1rem;
}