html[data-theme="light"],
:root {
    --body-bg-light: #fff;
    --body-bg-dark: #b6c9d9;
    --body-bg-border: #8395b3; /* does it match light theme? */
    --font-color: #000;
    --link-color: #0076d1;
    --graph-bg: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg-light: #161922;
        --body-bg-dark: #010209;
        --body-bg-border: #21242d;
        --font-color: #fff;
        --link-color: #41adff;
    }
}
